@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background: url("./Background/b2.avif") no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 80px;
    color: red;
}

h2 {
    font-family:"Satisfy", cursive;
    font-size: 45px;
    padding-left: 50px;
}
